* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  .heading {
    @include textstyle;
  }
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divContainer {
  background-color: $color-Smokey-grey;
  color: white;
  font-size: 5rem;
}
